<!DOCTYPE html>
<html>
<head>
    <title>Inspector</title>
    <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/js/inspector.js"></script>
</head>
<body>
    <div>
        <div id="recent_posted">
        </div>
        <div id="recent_crawled">
        </div>
        <div id="recent_retry">
        </div>
        <div id="recent_garbled">
        </div>
        <div id="recent_unknown">
        </div>
    </div>
</body>
</html>